/* Style Guide */
:root {
    --primary-color: #f7951d; /* Orange */
    --secondary-color: #00703c; /* Green */
    --white: #ffffff;
    --sidebar-bg: var(--secondary-color); /* Sidebar background */
    --sidebar-hover-bg: #004d2a; /* Darker green for hover */
    --text-color: var(--white); /* Text color */
    --button-bg: var(--primary-color); /* Button background */
    --button-text-color: var(--white); /* Button text */
    --chart-bar-bg: rgba(247, 149, 29, 0.6); /* Primary color for bar chart */
    --chart-bar-border: rgba(247, 149, 29, 1); /* Full primary color */
    --chart-line-bg: rgba(0, 112, 60, 0.2); /* Secondary color for line chart */
    --chart-line-border: rgba(0, 112, 60, 1); /* Full secondary color */
}